
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

::-webkit-scrollbar-thumb {
  background: #22d3ee;
  border-radius: 20px;
}